apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: oauth-demo-client
  namespace: observability
  annotations:
    kubernetes.io/ingress.class: "nginx"

spec:
  tls:
    - hosts:
        - oauth-demo-client.ipnvu.net
        - jaeger-ui.ipnvu.net
      secretName: oauth-demo-client-tls-cert
  rules:
    - host: oauth-demo-client.ipnvu.net
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: oauth-demo-client
                port:
                  number: 8081
    - host: jaeger-ui.ipnvu.net
      http:
        paths:
          - backend:
              service:
                name: simplest-query
                port:
                  number: 16686
            path: /
            pathType: Prefix
